.card-container{
   overflow: hidden;
}
.img-wrapper{
    overflow: hidden;
}
.card-container:hover .card-img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}
.card-img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.properties{
    overflow: hidden;
}