<div class="property_card mb-4">
  <div class="card-container">
    <div class="card p-2 mb-3 mx-3">
      <div class="img-wrapper">
        <img
          class="card-img-top card-img"
          src="assets/default.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body p-1">
        <h1 class="mb-0">{{ property.BHK }} BHK {{ property.PType }}</h1>
  
        in {{ property.Name }}
        <span *ngIf="property.Name">,</span>
        {{ property.City }}
  
        <h6 class="mt-2">
          {{ property.FType }}
          <span *ngIf="property.FType !== 'Unfurnished'">Furnished</span> | Ready
          to Move
        </h6>
  
        <hr class="mt-0 mb-2" />
  
        <h6 class="mb-0">
          Price: <span class>{{ property.Price }} USD.</span> | Area:
          <span>{{ property.BuiltArea }} Sq Ft </span>
        </h6>
        <a *ngIf="!detailsButton" class="btn btn-primary mt-2" routerLink="property-details/{{property.Id}}">Details</a>
      </div>
    </div>
  </div>
  
</div>