<div class="card-container">
  <div class="card p-2 mb-3 mx-3">
   <div class="img-wrapper">
    <img class="card-img-top card-img" src="assets/default.jpeg" alt="Card image cap"/>
   </div>
    <div class="card-body">
      <div class="properties">
        <h4 class="card-title">{{ property.Location }}</h4>
        <h5 class="card-title">Contact: {{ property.Contact }}</h5>
        <h5 class="card-title">Type: {{ property.Type }}</h5>
        <h5 class="card-title">Price: {{ property.Price }}</h5>
      </div>
      <a routerLink="app-property-details/{{property.Id}}" class="btn btn-primary mt-2" style="font-weight: bolder;">Details</a>
    </div>
  </div>
</div>
