<div class="row mb-5">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <h3>List your Property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" formGroupName="BasicInfo">
                <p class="mt-2 fw-bold">I want to</p>
                <div
                  class="btn-group"
                  btnRadioGroup
                  formControlName="SellRent"
                  required
                >
                  <label
                    class="btn btn-outline-primary m-1"
                    btnRadio="1"
                    role="button"
                    >Sell</label
                  >

                  <label
                    class="btn btn-outline-primary m-1"
                    btnRadio="2"
                    role="button"
                    >Rent</label
                  >
                </div>

                <div class="form-group col-12">
                  <p class="mt-2 fw-bold">BHK</p>
                  <div
                    class="btn-group mb-2"
                    btnRadioGroup
                    formControlName="BHK"
                  >
                    <label
                      *ngFor="let bhk of [1, 2, 3, 4, 5]"
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="bhk"
                      (click)="propertyView.bhk = bhk"
                      tabindex="0"
                      role="button"
                      >{{ bhk }}</label
                    >
                  </div>
                  <br />

                  <p class="mt-2 fw-bold">Property Type</p>
                  <div
                    class="btn-group mb-2"
                    btnRadioGroup
                    formControlName="PType"
                  >
                    <label
                      *ngFor="let ptype of propertyTypes"
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="ptype.id"
                      (click)="propertyView.propertyType = ptype.name"
                      tabindex="0"
                      role="button"
                      >{{ ptype.name }}</label
                    >
                  </div>
                  <br />

                  <p class="mt-2 fw-bold">Furnish Type</p>
                  <div
                    class="btn-group mb-2"
                    btnRadioGroup
                    formControlName="FType"
                  >
                    <label
                      *ngFor="let ftype of furnushTypes"
                      class="btn btn-outline-primary m-1"
                      [btnRadio]="ftype.id"
                      (click)="propertyView.furnishingType = ftype.name"
                      tabindex="0"
                      role="button"
                      >{{ ftype.name }}</label
                    >
                  </div>
                  <br />

                  <label class="fw-bold">Building/Society/Project Name</label>
                  <input
                    #name
                    type="text"
                    class="form-control"
                    ngModel
                    formControlName="Name"
                    (keyup)="propertyView.name = name.value"
                  />
                  <!-- <span *ngIf="!propName.valid && propName.touched" class="error-block">
                      <span>Please provide name</span>
                      <span>Name must be atleast 5 char long</span>
                    </span> -->
                </div>

                <div class="form-group col-12">
                  <label class="fw-bold">City</label><br />
                  <select
                  formControlName="City"
                    #City
                    (change)="
                      propertyView.city =
                        City.options[City.options.selectedIndex].text
                    "
                    class="btn btn-primary"
                    name=""
                    id=""
                  >
                    <option value="">-Select City-</option>
                    <option
                      class="bg-white text-black"
                      *ngFor="let city of cities"
                      value="{{city.id}}"
                    >
                      {{ city.name }}
                    </option>
                  </select>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary mt-2 w-100"
                    (click)="selectTab(1)"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label class="fw-bold">Price (in USD)</label>
                  <input
                    #price
                    type="text"
                    class="form-control"
                    formControlName="Price"
                    (keyup)="propertyView.price = price.value"
                  />
                </div>

                <div class="form-group col-12">
                  <label class="fw-bold">Security (in USD)</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Security"
                  />
                </div>

                <div class="form-group col-12">
                  <label class="fw-bold">Maintenance (in USD)</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Maintenance"
                  />
                </div>

                <div class="form-group col-12">
                  <label class="fw-bold">Built Area (in Sqr Feet)</label>
                  <input
                    #builtArea
                    type="text"
                    class="form-control"
                    (keyup)="propertyView.builtArea = builtArea.value"
                    formControlName="BuiltArea"
                  />
                </div>

                <div class="form-group col-12">
                  <label class="fw-bold">Carpet Area(in Sqr Feet)</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="CarpetArea"
                  />
                </div>

                <div class="form-group mt-2 col-12">
                  <button
                    type="button"
                    class="btn btn-primary w-100"
                    (click)="selectTab(2)"
                  >
                    Next
                  </button>

                  <button
                    type="button"
                    class="btn btn-primary mt-2 w-100"
                    (click)="selectTab(0)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label class="fw-bold">Floor</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="FloorNo"
                  />
                </div>

                <div class="form-group col-12">
                  <label class="fw-bold">Total Floor</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="TotalFloor"
                  />
                </div>

                <div class="form-group col-12">
                  <label class="fw-bold">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Address"
                  />
                </div>

                <div class="form-group col-12">
                  <label class="fw-bold">Landmark</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Landmark"
                  />
                </div>

                <div class="form-group mt-2 col-12">
                  <button
                    type="button"
                    class="btn btn-primary w-100"
                    (click)="selectTab(3)"
                  >
                    Next
                  </button>

                  <button
                    type="button"
                    class="btn btn-primary mt-2 w-100"
                    (click)="selectTab(1)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="true"
                      tabindex="0"
                      role="button"
                      (click)="propertyView.readyToMove = true"
                      name="RTM"
                      >Yes
                    </label>

                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="false"
                      tabindex="0"
                      role="button"
                      (click)="propertyView.readyToMove = false"
                      name="RTM"
                      >No
                    </label>
                  </div>
                </div>

                <div class="form-group col-6">
                  <label *ngIf="propertyView.readyToMove"
                    >Establishment Date</label
                  >
                  <label class="m-1" *ngIf="!propertyView.readyToMove"
                    >Possession Date</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    formControlName="PossessionOn"
                    #possessionOn
                    (bsValueChange)="
                      propertyView.estPossessionOn = possessionOn.value
                    "
                    bsDatepicker
                  />
                </div>

                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="true"
                      tabindex="0"
                      role="button"
                      name="Gated"
                      >Yes</label
                    >
                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="false"
                      tabindex="0"
                      role="button"
                      name="Gated"
                      >No</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Main Entrance</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="MainEntrance"
                  >
                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="East"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >East</label
                    >
                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="West"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >West</label
                    >
                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="South"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >South</label
                    >
                    <label
                      class="btn btn-outline-primary m-1"
                      btnRadio="North"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >North</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    formControlName="Description"
                    rows="6"
                  ></textarea>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-block mt-2 w-100"
                    (click)="selectTab(4)"
                  >
                    Next
                  </button>

                  <button
                    type="button"
                    class="btn btn-primary btn-block mt-2 w-100"
                    (click)="selectTab(2)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br />
                    This is under construction
                  </div>
                </div>
                <div class="form-group mt-2 col-12">
                  <button type="submit" class="btn btn-primary w-100">
                    Save
                  </button>
                  <button type="reset" class="btn btn-danger mt-2 w-100">
                    Cancel
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="view col-4">
    <div class="card">
      <div class="card-header">
        <h3>Your Property Preview</h3>
      </div>
    </div>
    <div>
      <app-property-card class="w-100"
        [property]="propertyView"
        [detailsButton]="true"
      ></app-property-card>
    </div>
  </div>
</div>
