<nav
  class="navbar navbar-expand-lg navbar-light mb-3"
  style="background-color: #3e434c"
>
  <div class="container-fluid">
    <a class="navbar-brand p-0" routerLink="/"
      ><img
        class="img-fluid"
        src="assets/logo.png"
        alt="Logo"
        width="50"
        height="50"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Find</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-property">Crate Post</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="#"
            id="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort by
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="#">Rent</a></li>
            <li><a class="dropdown-item" routerLink="#">Buy</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2 search-box"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success search-icon"
          style="outline: none; border: none"
          type="submit"
        >
          <i class="fa fa-search text-white icon"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
