<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header fw-boldery
    ">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">

        <div class="form-group col-12">
          <label for="username" class="form-label">User Name</label>
          <input type="text" class="form-control" formControlName="username">
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <span class="text-danger fw-bolder" *ngIf="!getPassword()?.valid"> *</span>
          <input type="password" class="form-control" formControlName="password">
        </div>

        <div class="form-group col-12">
          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary m-2">Login</button>
          <button type="reset" class="btn btn-secondary m-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>